:root {
  --main: #aa3939;
  --light: #d46a6a;
  --mainWhite: #ffaaaa;
  --Dark: #550000;
  --Crimson: #d67488;
}

body {
  font-family: 'Open Sans Condensed';
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.text-main {
  color: var(--main);
}

.text-light {
  color: var(--light);
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--Yellow);
}
